@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .parent {
  perspective: 1000px;
} */
html, body, #smooth-wrapper {
  height: 100%;
/* مهم لـ ScrollSmoother */
}

#smooth-content {
  min-height:700vh; /* علشان يطول كفاية ويظهر التمرير */
}